name: CI # label shown in Github actions
# great way to run on every push to any branch, not just main
on:
  push:
  pull_request:

# GHCR - GitHub Container Registry: docker registry integrated with Github
env: # define global env variables
  IMAGE: ghcr.io/${{ github.repository }}:ci # in gh actions translates to ghcr.io/versroot/itu-sdse-project:ci

# Allow pushing to GHCR with the GITHUB_TOKEN
permissions:
  contents: read
  packages: write

jobs: # 3 jobs: build-image, lint, test (all combined)
  build-image: #JOB1; build and push the CI Docker image to GHCR
    name: Build CI Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # like git clone, git checkout; checkout is needed to access the Dockerfile

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} # username, who triggered the workflow
          password: ${{ secrets.GITHUB_TOKEN }} # autogenerated token to auth with GHCR, not actually visible in secrets

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: . # repo root, where Dockerfile is located
          push: true # if push false then builds locally
          tags: ${{ env.IMAGE }} # we used ci tag for the image

  # lint = check code quality, style, potential bugs, ruff = just a python linter
  lint: # JOB2; lint test with ruff inside the container; reports issues but does not fail the job
    name: Lint with ruff (inside container). # Syntax errors, code quality issues, style violations, potential bugs
    continue-on-error: true # don't fail, only report
    runs-on: ubuntu-latest
    needs: build-image # lint triggered after building the image

    steps: # same as in build-image: checkout, login
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run ruff in container # actual lint step
        run: >
          docker run --rm  
          -e MLFLOW_TRACKING_URI="file:/opt/mlruns" 
          --workdir /app 
          ${{ env.IMAGE }} 
          bash -lc 'echo "== Ruff ==" && uv run ruff check .'

  test: # JOB3; run pytest inside the container; reports test results but does not fail the job
    name: Run pytest (inside container)
    continue-on-error: true # don't fail, only report
    runs-on: ubuntu-latest
    needs: build-image # test triggered after building the image

    steps: # same as before: checkout, login
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests in container # actual tests step (combined)
        run: >
          docker run --rm 
          --memory="8g"
          --memory-swap="8g" 
          -e MLFLOW_TRACKING_URI="file:/opt/mlruns" 
          --workdir /app 
          ${{ env.IMAGE }} 
          bash -lc 'echo "== Pytest ==" && uv run pytest -vv --maxfail=1'

# added mem = 8g to avoid OOM kills on Github actions runners
