name: CI

on:
  push:
    branches: [ main, workflows-katya ]
  pull_request:
    branches: [ main, workflows-katya]

jobs:
  ci:
    name: Run Linting and Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install uv package manager
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Cache uv dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: uv-${{ runner.os }}-${{ hashFiles('**/requirements*.txt', 'pyproject.toml') }}

      - name: Install project dependencies using uv
        run: |
          uv sync

      - name: Lint with ruff
        run: |
          uv pip install ruff
          uv run ruff check . || true

      - name: Run tests
        run: |
          uv run pytest -vv --maxfail=1 || true

