name: Train model

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install dagger
        run: |
          curl -L https://dl.dagger.io/dagger/install.sh | sh

      - name: Run Dagger pipeline
        run: dagger run go run dagger/main.go

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: model
